h1 {
  color: White;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 60px;
  text-align: center;
  text-shadow: 3px 2px Black;
}

h2 {
  color: White;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 40px;
  text-align: center;
  text-shadow: 3px 2px Black;
}
